@font-face {
  font-family: "Recia-Regular";
  src: url("../assets/fonts/Recia-Regular.woff2") format("woff2"),
    url("../assets/fonts/Recia-Regular.woff") format("woff"),
    url("../assets/fonts/Recia-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Zina-Regular";
  src: url("../assets/fonts/Zina-Regular.woff2") format("woff2"),
    url("../assets/fonts/Zina-Regular.woff") format("woff"),
    url("../assets/fonts/Zina-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
